In [9]:
import pandas as pd
#read csv file and load it into dataframe named df
df=pd.read_csv("record.csv")
#make sure that it has initial columns in place
df.tail(10)

    Id           Username  Password                      Email     Phoneno
2    3                 jj        gg                      jj@gg       12548
3    4              nepal     nepal                     hh@112        4545
4    5               name  password             name@gmail.com        name
5    6             Bishnu     Gurun                       gurn        kjkj
6    7             binaya     baral                         kk     ksjkdjf
7    8  Bipin Bajracharya  bipin123  vajracharya.bpn@gmail.com  9849513373
8    9              Binay       hhh                     asdasd      asdasd
9   10             sophia    sophia                     sophia     sop[hia
10  11                nep       nep                      email       ksdfj
11  12             monday   tuesday                    tyesday     tuesday

In [15]:
#print data of only columns of Username
print(df["Username"])
#print data of only columns of password but first 5 only
print(df["Password"].head())

0                bishal
1                 bipin
2                    jj
3                 nepal
4                  name
5                Bishnu
6                binaya
7     Bipin Bajracharya
8                 Binay
9                sophia
10                  nep
11               monday
Name: Username, dtype: object
0    pokharel
1      poudel
2          gg
3       nepal
4    password
Name: Password, dtype: object